<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Page</title>
    </head>
    <body>
        <form action = "http://localhost:5000/result" method="post">
            <p>Name <input type="text" name="name"/></p>
            <p>Physics <input type="text" name="physics"/></p>
            <p>Chemistry <input type="text" name="chemistry"/></p>
            <p>Maths <input type="text" name="maths"/></p>
            <p><input type="submit" value="submit"/>e</p>
        </form>
    </body>
</html>